In [2]:
import pandas as pandas
import numpy as np
import pickle

In [4]:
from utilities import *

In [12]:
payoffs = load_data('../output/processed/txt/bestruns100years_newcoalitions.txt', 'old')
payoffs['flood_duration'] = payoffs['flood_duration']*-1
normalized_payoffs = normalize_df(payoffs)

In [ ]:
baseline = [39.30, 1.00, 0.1058, 0.00, ]
hydropower

In [26]:
payoffs

,hydropower_revenue,atomic_power_plant_discharge,baltimore_discharge,chester_discharge,recreation,environment,flood_duration
best_app,35.568728,0.675800,0.451259,0.602552,0.821429,-0.102221,-0.166667
best_ch,49.940381,0.667644,0.581969,0.579072,0.786786,-0.042577,-0.166667
best_comp,51.667794,0.675110,0.409704,0.582246,0.822143,-0.021685,-0.166667
best_dfl,41.194136,0.028360,0.013866,0.014254,0.000357,-0.000000,0.000000
best_env,45.301392,0.669933,0.499956,0.603975,0.821429,-0.086643,-0.166667
best_hydro,50.092336,0.675141,0.054612,0.597697,0.893214,-0.041516,-0.166667
best_rec,47.013272,0.675000,0.577168,0.604782,0.750357,-0.080382,-0.168333

In [34]:
payoffs = load_data('../output/processed/txt/bestruns100years_newcoalitions.txt', 'old')
baseline = pd.DataFrame(['baseline', 0,0,0,0,0,-1,-1]).T
baseline.columns = ['decision','hydropower_revenue', 'atomic_power_plant_discharge',
       'baltimore_discharge', 'chester_discharge', 'recreation', 'environment',
       'flood_duration']
baseline = baseline.set_index('decision')
payoffs = payoffs.append(baseline)
normalized_payoffs = normalize_df(payoffs)

In [35]:
normalized_payoffs

,decision,hydropower_revenue,atomic_power_plant_discharge,baltimore_discharge,chester_discharge,recreation,environment,flood_duration
0,best_app,0.688412,1.000000,0.775400,0.996313,0.919632,0.897779,0.998573
1,best_ch,0.966567,0.987932,1.000000,0.957489,0.880848,0.957423,0.998573
2,best_comp,1.000000,0.998979,0.703996,0.962738,0.920432,0.978315,0.998573
3,best_dfl,0.797288,0.041965,0.023827,0.023570,0.000400,1.000000,0.855920
4,best_env,0.876782,0.991319,0.859077,0.998666,0.919632,0.913357,0.998573
5,best_hydro,0.969508,0.999025,0.093840,0.988286,1.000000,0.958484,0.998573
6,best_rec,0.909914,0.998816,0.991751,1.000000,0.840064,0.919618,1.000000
7,baseline,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

1. Check for Pareto Effeciency

In [46]:
normalized_payoffs['nash_bargaining_solution'] = normalized_payoffs[['hydropower_revenue', 'atomic_power_plant_discharge',
       'baltimore_discharge', 'chester_discharge', 'recreation', 'environment',
       'flood_duration']].product(axis = 1)

In [51]:
normalized_payoffs

,decision,hydropower_revenue,atomic_power_plant_discharge,baltimore_discharge,chester_discharge,recreation,environment,flood_duration,nash_bargaining_solution
0,best_app,0.688412,1.000000,0.775400,0.996313,0.919632,0.897779,0.998573,4.384635e-01
1,best_ch,0.966567,0.987932,1.000000,0.957489,0.880848,0.957423,0.998573,7.699766e-01
2,best_comp,1.000000,0.998979,0.703996,0.962738,0.920432,0.978315,0.998573,6.088144e-01
3,best_dfl,0.797288,0.041965,0.023827,0.023570,0.000400,1.000000,0.855920,6.430396e-09
4,best_env,0.876782,0.991319,0.859077,0.998666,0.919632,0.913357,0.998573,6.254490e-01
5,best_hydro,0.969508,0.999025,0.093840,0.988286,1.000000,0.958484,0.998573,8.597326e-02
6,best_rec,0.909914,0.998816,0.991751,1.000000,0.840064,0.919618,1.000000,6.963192e-01
7,baseline,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00

In [50]:
normalized_payoffs[normalized_payoffs['nash_bargaining_solution']==max(normalized_payoffs['nash_bargaining_solution'])]

,decision,hydropower_revenue,atomic_power_plant_discharge,baltimore_discharge,chester_discharge,recreation,environment,flood_duration,nash_bargaining_solution
1,best_ch,0.966567,0.987932,1.0,0.957489,0.880848,0.957423,0.998573,0.769977